<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>admin</title>
    <style>
    #head
    {
      margin: auto;
      width: 100%;

    }
    body
    {
        margin: 1 ;
        padding: 1;
        background: #ffffff;
    }
    </style>
</head>
<body class="text-center">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #50b7f2;" >
      <a class="navbar-brand" href="http://127.0.0.1:8000/admin/" >Home</a>
      <!--  this is for home -->
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" >
            <div class="d-flex justify-content-center" id="head">Adminstration</div>
          </li>
        </ul
        <a class="nav-link" href="#" >Logout<span class="sr-only">(current)</span></a>
        <!--  this is for logout -->
      </div>
    </nav>
    <br>
    <form action = "http://127.0.0.1:8000/evaluation_progress/" method = "GET">
      <input class= "btn btn-primary" type = "submit" value = "Evaluation progress">
    </form>
    <br>
    <form action = "http://127.0.0.1:8000/detailed_statistics/" method = "GET">
      <input class= "btn btn-primary" type = "submit" value = "Detailed statistics">
    </form>
    <br>
    <form action = "http://127.0.0.1:8000/overall_statistics/" method = "GET">
      <input class= "btn btn-primary" type = "submit" value = "Overall statistics">
    </form>
    <br>
    <form action = "http://127.0.0.1:8000/database/" method = "GET">
      <input class= "btn btn-primary" type = "submit" value = "Database Functions">
    </form>
    <br>
  </div>
</body>
</html>
