{% if messages %}
    {% for message in messages%}
      <div>
          <strong>{{message|safe}}</strong>
      </div>
    {% endfor %}
{% else %}
<h3><u>Upload from saved</u></h3>
<form method ="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label><h3>Upload credited courses table file</h3></label>
    <input type="file" name ="file1">
    <p>Note: Only accepts CSV files.</p>
    <p>{{order1}}</p>
    <button type="submit">Upload</button>
</form>
<br>
<form method ="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label><h3>Upload rating table file</h3></label>
    <input type="file" name ="file2">
    <p>Note:Only accepts CSV files</p>
    <p>{{order2}}</p>
    <button type="submit">Upload</button>
</form>
{% endif %}
